##1. Mounting Data

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

##2. Importing Relevant Libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

##3. Defining Path and Training Data

In [ ]:
path = '/gdrive/My Drive/ML1 Course1 Sept 2020/Assignments/Data/'

In [ ]:
train_data = pd.read_csv(path+'Chennai_house_price_multivariate_train.csv')
train_data.head()

   PRT_ID        AREA  INT_SQFT  ... REG_FEE  COMMIS  SALES_PRICE
0  P03210  Karapakkam      1004  ...  380000  144400      7600000
1  P09411  Anna Nagar      1986  ...  760122  304049     21717770
2  P01812       Adyar       909  ...  421094   92114     13159200
3  P05346   Velachery      1855  ...  356321   77042      9630290
4  P06210  Karapakkam      1226  ...  237000   74063      7406250

[5 rows x 22 columns]

##4. Checking for and Handling Null Data

In [ ]:
train_data.isnull().sum(axis=0)

PRT_ID            0
AREA              0
INT_SQFT          0
DATE_SALE         0
DIST_MAINROAD     0
N_BEDROOM         1
N_BATHROOM        5
N_ROOM            0
SALE_COND         0
PARK_FACIL        0
DATE_BUILD        0
BUILDTYPE         0
UTILITY_AVAIL     0
STREET            0
MZZONE            0
QS_ROOMS          0
QS_BATHROOM       0
QS_BEDROOM        0
QS_OVERALL       48
REG_FEE           0
COMMIS            0
SALES_PRICE       0
dtype: int64

In [ ]:
train_data = train_data.fillna({'N_BEDROOM': train_data['N_BEDROOM'].mean(), 'N_BATHROOM': train_data['N_BATHROOM'].mean(), 'QS_OVERALL': train_data['QS_OVERALL'].mean()})
train_data.isnull().sum(axis=0)

PRT_ID           0
AREA             0
INT_SQFT         0
DATE_SALE        0
DIST_MAINROAD    0
N_BEDROOM        0
N_BATHROOM       0
N_ROOM           0
SALE_COND        0
PARK_FACIL       0
DATE_BUILD       0
BUILDTYPE        0
UTILITY_AVAIL    0
STREET           0
MZZONE           0
QS_ROOMS         0
QS_BATHROOM      0
QS_BEDROOM       0
QS_OVERALL       0
REG_FEE          0
COMMIS           0
SALES_PRICE      0
dtype: int64

##5. Encoding Categorical Data

In [ ]:
from sklearn.preprocessing import LabelEncoder

labelencoder = LabelEncoder()
train_data['AREA'] = labelencoder.fit_transform(train_data['AREA'])

train_data["AREA"] = labelencoder.fit_transform(train_data["AREA"])
train_data["SALE_COND"] = labelencoder.fit_transform(train_data["SALE_COND"])
train_data["PARK_FACIL"] = labelencoder.fit_transform(train_data["PARK_FACIL"])
train_data["BUILDTYPE"] = labelencoder.fit_transform(train_data["BUILDTYPE"])
train_data["UTILITY_AVAIL"] = labelencoder.fit_transform(train_data["UTILITY_AVAIL"])
train_data["STREET"] = labelencoder.fit_transform(train_data["STREET"])
train_data["MZZONE"] = labelencoder.fit_transform(train_data["MZZONE"])

train_data.head()

   PRT_ID  AREA  INT_SQFT   DATE_SALE  ...  QS_OVERALL  REG_FEE  COMMIS  SALES_PRICE
0  P03210    12      1004  04-05-2011  ...       4.330   380000  144400      7600000
1  P09411     4      1986  19-12-2006  ...       3.765   760122  304049     21717770
2  P01812     0       909  04-02-2012  ...       3.090   421094   92114     13159200
3  P05346    15      1855  13-03-2010  ...       4.010   356321   77042      9630290
4  P06210    12      1226  05-10-2009  ...       3.290   237000   74063      7406250

[5 rows x 22 columns]

##6. Dropping Unwanted Features and Seperating X and Y for Training Data

In [ ]:
x = train_data.drop(columns= ["PRT_ID","DATE_SALE","DATE_BUILD", "SALES_PRICE"])
y = train_data.iloc[:, 21:22]
print(x.shape, y.shape)

(7109, 18) (7109, 1)

##7. Normalising and Scaling the Data

In [ ]:
from sklearn.preprocessing import StandardScaler
x_scalar = StandardScaler()
y_scalar = StandardScaler()
x = x_scalar.fit_transform(x)
y = y_scalar.fit_transform(y)
print(x.shape, y.shape)

(7109, 18) (7109, 1)

##8. Splitting Test and Train Data

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=2)
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(5331, 18) (1778, 18) (5331, 1) (1778, 1)

##9. Modelling

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

##10. Predicting using Train data

In [ ]:
y_train_prediction = model.predict(x_train)
train_score = model.score(x_train, y_train)
print(f"Train data accuracy = {train_score * 100}%")

Train data accuracy = 88.22603593632893%

##11. Predicting using Test Data

In [ ]:
y_test_prediction = model.predict(x_test)
test_score = model.score(x_test, y_test)
print(f"Test data accuracy = {train_score * 100}%")

Test data accuracy = 88.22603593632893%

##12. Calculating Accuracy of the Model

In [ ]:
from sklearn.metrics import r2_score
test_score_r2 = r2_score(y_test, y_test_prediction)
print(test_score_r2)

0.8771299176363488

In [ ]:
print("Training accuracy: {}%".format(train_score * 100))
print("Testing accuracy: {}%".format(test_score_r2 * 100))

Training accuracy: 88.22603593632893%
Testing accuracy: 87.71299176363489%

##13.Retrieving, Preprocessing and Predicting for Data with no output values

In [ ]:
pred_data = pd.read_csv(path+'Chennai_house_price_multivariate_test.csv')
pred_data.head()

   PRT_ID        AREA  INT_SQFT  ... QS_OVERALL  REG_FEE  COMMIS
0  P05996    Chrompet       958  ...      3.860   203260   93813
1  P09294  Anna Nagar      1807  ...      2.775   370410  222246
2  P03807  Karapakkam      1658  ...      2.720   387972  113159
3  P00539  Anna Nagar      1592  ...      3.635   408134   84442
4  P01448    Chrompet       857  ...      3.570   181212   34849

[5 rows x 21 columns]

In [ ]:
pred_data.isnull().sum(axis=0)

PRT_ID            0
AREA              0
INT_SQFT          0
DATE_SALE         0
DIST_MAINROAD     0
N_BEDROOM         0
N_BATHROOM        0
N_ROOM            0
SALE_COND         0
PARK_FACIL        0
DATE_BUILD        0
BUILDTYPE         0
UTILITY_AVAIL     0
STREET            0
MZZONE            0
QS_ROOMS          0
QS_BATHROOM       0
QS_BEDROOM        0
QS_OVERALL       19
REG_FEE           0
COMMIS            0
dtype: int64

In [ ]:
pred_data = pred_data.fillna({'QS_OVERALL': pred_data['QS_OVERALL'].mean()})
pred_data.isnull().sum(axis=0)

PRT_ID           0
AREA             0
INT_SQFT         0
DATE_SALE        0
DIST_MAINROAD    0
N_BEDROOM        0
N_BATHROOM       0
N_ROOM           0
SALE_COND        0
PARK_FACIL       0
DATE_BUILD       0
BUILDTYPE        0
UTILITY_AVAIL    0
STREET           0
MZZONE           0
QS_ROOMS         0
QS_BATHROOM      0
QS_BEDROOM       0
QS_OVERALL       0
REG_FEE          0
COMMIS           0
dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder

labelencoder = LabelEncoder()
pred_data['AREA'] = labelencoder.fit_transform(pred_data['AREA'])

pred_data["AREA"] = labelencoder.fit_transform(pred_data["AREA"])
pred_data["SALE_COND"] = labelencoder.fit_transform(pred_data["SALE_COND"])
pred_data["PARK_FACIL"] = labelencoder.fit_transform(pred_data["PARK_FACIL"])
pred_data["BUILDTYPE"] = labelencoder.fit_transform(pred_data["BUILDTYPE"])
pred_data["UTILITY_AVAIL"] = labelencoder.fit_transform(pred_data["UTILITY_AVAIL"])
pred_data["STREET"] = labelencoder.fit_transform(pred_data["STREET"])
pred_data["MZZONE"] = labelencoder.fit_transform(pred_data["MZZONE"])

pred_data.head()

   PRT_ID  AREA  INT_SQFT   DATE_SALE  ...  QS_BEDROOM  QS_OVERALL  REG_FEE  COMMIS
0  P05996     5       958  13-11-2009  ...         3.9       3.860   203260   93813
1  P09294     2      1807  29-01-2007  ...         2.1       2.775   370410  222246
2  P03807     9      1658  07-01-2011  ...         3.2       2.720   387972  113159
3  P00539     2      1592  22-01-2014  ...         2.5       3.635   408134   84442
4  P01448     5       857  01-05-2012  ...         2.9       3.570   181212   34849

[5 rows x 21 columns]

In [ ]:
x_test = pred_data.drop(columns= ["PRT_ID","DATE_SALE", "DATE_BUILD"])
x_test.shape

(2925, 18)

In [ ]:
x_test = x_scalar.fit_transform(x)

print(x.shape)

(7109, 18)

In [ ]:
y_pred = model.predict(x_test)
y = y_scalar.inverse_transform(y_pred)
print(y.shape)

(7109, 1)

In [ ]:
print(y)

[[10411545.94495125]
 [20140259.46360198]
 [13210177.77213639]
 ...
 [ 9435706.24260539]
 [10363921.65503994]
 [ 8425459.506911  ]]